.containerDash{
    display: flex;
    background-color: #c6c82d11;
    height: 85vh;
    margin-bottom: -90px;
    width: 100vw;
    box-sizing: content-box;

}


@media (max-width: 600px) {
    .containerDash{
        flex-direction: column;
    }
}