.sideBar {
    width: 100vw;
    box-sizing: border-box;
    padding-right: 2px;
    padding-left: 2px;
    
   
}
.buscador{
    display: flex;
    position: relative; 
   
}

.buscador .sideBar{
 
    width: 200px;
    
    
}
ul{
    margin: 0;
}
.buscador .sideBar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,255,255,0.05); 
    list-style: none;
    text-decoration: none;
    
}

.todos{
    background-color: rgba(102, 43, 158, 0.356);
    border-color: rgb(178, 126, 202);
    color: white;
    background: rgba(97, 8, 124, 0.472);
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
}
.todos:hover{
  background: rgba(118, 49, 182, 0.377);
  border-color: darkgray;
}




@media (max-width: 600px) {
    .responsi{
        display: flex;
    }
}
