body{
    min-height: 100vh;
    background: #f0f0f0;
  }
footer{
    margin-top: 5px;
    width: 100%;
    position:absolute;
    bottom: 0; 
    
    
  }
  .contacto{
    text-decoration: none;
  }
  .main-footer{
    padding-top: 2rem;
    position: relative;
    bottom: 0;
    width: 100;
  }
  @media screen and (max-width: 750px){
    footer{
        margin-top: 20px;
        width: 100%;
        position:sticky;
        bottom: 0; 

      
bottom: 0;
width: 100%;

       
      }

  }
  