p{
    color: rgb(12, 12, 12);
}

.lista{
    padding-top: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
}
.catCard{
    align-items: center;
    width: 50rem;
    display:block;
    margin:auto;
}

